investigacion/node_modules/
investigacion/relacionesCaminos.json
investigacion/visualizacion/d3network.json
investigacion/visualizacion/network/d3network.js
#investigacion/visualizacion/network/d3network.json
investigacion/data/*
investigacion/distancias_semanticas/word2vec/*.bin
investigacion/distancias_semanticas/Conteo/Textos/*
investigacion/distancias_semanticas/Conteo/distancia/node_modules/
investigacion/logger.log
malapraxisprimeraweb
